RewriteEngine On

# SEO: X-Robots-Tag
<IfModule mod_headers.c>
    Header set X-Robots-Tag "index, follow"
</IfModule>


# 301 Redirect for hair-transplant to location-specific page


# Remove .php extension
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Force remove .php if user accesses directly
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,L,NE]


Redirect 301 '/index' 'https://dencespot.com/'
Redirect 301 '/hair-transplant/' 'https://www.dencespot.in/hair-transplant-in-gurgaon'
Redirect 301 '/best-hair-transplant/' 'https://www.dencespot.in/hair-transplant-in-gurgaon'
Redirect 301 '/hair-transplant-2/' 'https://www.dencespot.in/hair-transplant-in-gurgaon'
Redirect 301 '/beard-transplant/' 'https://www.dencespot.in/beard-transplant-in-gurgaon'
Redirect 301 '/laser-hair-removal/' 'https://www.dencespot.in/laser-hair-removal-in-gurgaon'
Redirect 301 '/contact-us/' 'https://www.dencespot.in/contact'
Redirect 301 '/face-and-skin-treatment/' 'https://www.dencespot.in/skin-treatment-in-gurgaon'
Redirect 301 '/about-us/' 'https://www.dencespot.in/about-us'
Redirect 301 '/privacy-policy/' 'https://www.dencespot.in/'
Redirect 301 '/beard-transplant-in-gurgaon/' 'https://www.dencespot.in/beard-transplant-gurgaon'
