RewriteEngine On

# 301 Redirect for hair-transplant to location-specific page


# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Force remove .php if user accesses directly
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,L,NE]

Redirect 301 'hair-transplant' 'https://dencespot.com/hair-transplant-in-gurgaon'
Redirect 301 '/best-hair-transplant/' 'https://dencespot.com/hair-transplant-in-gurgaon'
Redirect 301 '/hair-transplant-2/' 'https://dencespot.com/hair-transplant-in-gurgaon'
Redirect 301 '/beard-transplant/' 'https://dencespot.com/beard-transplant-in-gurgaon'
Redirect 301 '/laser-hair-removal/' 'https://dencespot.com/laser-hair-removal-in-gurgaon'
Redirect 301 '/contact-us/' 'https://dencespot.com/contact'
Redirect 301 '/face-and-skin-treatment/' 'https://dencespot.com/skin-treatment-in-gurgaon'
Redirect 301 '/about-us/' 'https://dencespot.com/about-us'
Redirect 301 '/privacy-policy/' 'https://dencespot.com/'